<footer>
    <div class="footer-links">
        <a>@UNCC Health Awareness</a>
        <a href="/about">ABOUT</a>
        <a href="/contact">CONTACT</a>
    </div>
    <div class="footer-right">
        <a href="#" class="fa-brands fa-twitter"></a>
        <a href="#" class="fa-brands fa-facebook"></a>
    </div>


</footer>