<%- include('./partials/header.ejs') %>
<main>
    <section>
        <table>
            <tr>
                <td>
                    <img src="/images/About.png" alt="About Us" class="about-image">
                </td>
                <td>
                    <h1>About Us</h1>
                         <p>"Join us in promoting health awareness and fostering a vibrant, informed campus community through engaging events and activities!"</p>
                </td>
            </tr>
        </table>
        
        </section>
</main>
<%- include('./partials/footer.ejs') %>