<%- include('./partials/header.ejs') %>

    <main>
        <div class="contact">
        <section>
            <table>
                <tr>
                    <td>
                        <img src="/images/contact.jpg" alt="Contact Us" class="contact-image">
                    </td>
                    <td>
                        <h1>Contact Us</h1>
                        <p>For any queries or feedback, please feel free to contact us at:</p>
                        <p>Email:malamuru@uncc.edu</p>
                        <p>Email:nthadisa@uncc.edu</p>
                        <p> Address: 9201 University City Blvd, Charlotte  </p>
                    </td>
                </tr>
            </table>
            
        </section>
        </div>
    </main>


<%- include('./partials/footer.ejs') %>