<%-include('./partials/header.ejs')%>

    <main>
        <div class="home">
        <section>
            <h1>Welcome to Health Awareness</h1>
            <p>Come join our health awareness hub!! Our mission is to provide up-to-date information on a wide range of health topics, from nutrition and fitness to mental well-being and disease prevention.</p>
            <p>Check out the Events section to know more information!</p>
            <img src="/images/main.jpg" alt="Health Awareness"  class="class_home">
        </section>
        </div>
    </main>

    
<%-include('./partials/footer.ejs')%>